<%= render 'layouts/navbar' %>
<section class="Intro--new">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title">
             See what we're all about.
          </h1>
          <div class="Intro__body">
            <p>
            Get started in data science, and connect with our students and faculty in one of our free workshops.
            </p>
          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="/course_signup">Start Learning For Free </a>
            </div>
              <a class="title-link" href="/auth/welcome">Why Data Science </a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </section>
  <section class="Solutions">
    <div class="RealStories__title">
      <h2> Attend one of our free introductory workshops. </h2>
    </div>
    <%= render 'events' %>
  </section>
<%= render 'layouts/footer' %>
