  <div data-anchor="lead-photo" class="section fp-auto-height pt-0">
    <div class="container-fluid text-light bg-shrunk">
      <%= render 'pages/about_navbar' %>
      <div class="container">
        <div class="lead text-center font-italic font-weight-bold row p-4 justify-content-center" style="top: 130px;
        position: relative;">
           Get support with your first step.
        </div>
        <div class="lead text-center" >
          Attend one of our free introductory workshops.
      </div>
    </div>
  </div>

  <div  data-anchor="workshops" class="section pt-4">
    <%= render 'events/events' %>
    <%= render 'pages/footer' %>
  </div>

  <script type="text/javascript" src="https://addevent.com/libs/atc/1.6.1/atc.min.js" async defer></script>
