<div class="container">
  <div class="row justify-content-md-center">
    <nav class="navbar navbar-expand-lg navbar-dark transparent-background bg-light col-10 pl-0 pr-0">
      <a class="navbar-brand px-3" href="<%= root_path %>">JIGSAW</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </nav>
  </div>
</div>
