<div class="container font-medium">
  <div id="admissions" class="row justify-content-center">
    <div class="col-11 pl-4 pr-4">
      <h1 class="mb-2"> Admissions, Tuition & Course Dates </h1>
      <div class="row justify-content-start pl-3 pr-3">
        <h4 class="mt-2">Admissions Process</h4>
      </div>
      <div class="row justify-content-center pt-4">
        <div class="card bg-info text-light p-2 mb-0" style="border: none;">
          <div class="nav-align-center neg-margin">
            <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons w-100 justify-content-center pt-4" role="tablist">
              <li class="nav-item m-auto">
                <a class="nav-link bg-white active" data-toggle="tab" href="#profile" role="tablist">
                  <i class="fa fa-address-card text-info"></i>
                </a>
              </li>
              <li class="nav-item m-auto">
                <a class="nav-link bg-white active" data-toggle="tab" href="#home" role="tablist">
                  <i class="fa fa-phone text-info"></i>
                </a>
              </li>
              <li class="nav-item m-auto">
                <a class="nav-link bg-white active" data-toggle="tab" href="#messages" role="tablist">
                  <i class="fa fa-laptop text-info"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body p-0 row justify-content-center">
            <div class="col-4 m-auto text-center">
              <h5 class="card-title">Step 1 </h5>
              <p class="card-text"> Submit the application </p>
            </div>
            <div class="col-4 m-auto text-center">
              <h5 class="card-title">Step 2</h5>
              <p class="card-text"> Cultural phone interview </p>
            </div>
            <div class="col-4 m-auto text-center">
              <h5 class="card-title">Step 3</h5>
              <p class="card-text"> Begin the class </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-11 p-0">
      <div class="row justify-content-start pl-3 pr-3">
        <div class="col-4 col-sm-12 pr-2 pl-2">
        </div>
        <div class="col-lg-4 col-sm-12 pr-2 pl-2">
        </div>
      </div>
      <div class="row justify-content-start pt-3">
        <div class="col-lg-4 col-md-4 col-sm-12 pr-2 pl-4">
          <h4 class="mt-2"> Full Tuition</h4>
          <p class="lead"><span class=" "> Tuition is </span> <span class="text-info "> $1200 </span>for the twenty session course. </p>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-12 pr-2 pl-2">
          <h4 class="mt-2 pl-3"> Course Dates </h4>
          <div class="row justify-content-around pt-3">
            <div class="card col-5 bg-warning">
              <div class="card-body font-medium p-0 pt-2">
                <div class="row justify-content-center">
                  <h5 class="card-title font-weight-bold pl-3">Winter 2019</h5>
                </div>
                <div class="row justify-content-center">
                  <ul class="pl-2">
                    <li> Feb 18 - April 25 </li>
                    <li> Tuesdays & Thursdays </li>
                    <li> 6:30 pm - 9 pm </li>
                  </ul>
                </div>
              </div>
              <div class="row justify-content-center sm-neg-margin">
                <a href="button" class="btn btn-info">Apply Now</a>
              </div>
            </div>
          <div class="card col-5 bg-warning">
            <div class="card-body font-medium p-0 pt-2">
              <div class="row justify-content-center">
                <h5 class="card-title font-weight-bold pl-3">Spring 2019</h5>
              </div>
              <div class="row justify-content-center">
                <ul class="pl-2">
                  <li> March 5 - May 9 </li>
                  <li> Tuesdays & Thursdays </li>
                  <li> 6:30 pm - 9 pm </li>
                </ul>
              </div>
            </div>
            <div class="row justify-content-center sm-neg-margin">
              <a href="button" class="btn btn-info">Apply Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
