<div id="admissions" class="container">
  <div class="row justify-content-center">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h1 class="pb-4"> Admissions Process </h1>
      <p class="lead font-large pb-2"> We prioritize students with curiosity and kindness, instead of experience and knowledge.</p>
      <div class="row justify-content-center mt-4 pt-4">
        <div class="card bg-info text-light p-2" style="border: none;">
          <div class="nav-align-center neg-margin">
            <ul class="nav nav-pills nav-pills-primary nav-pills-just-icons w-100 justify-content-center pt-4" role="tablist">
              <li class="nav-item m-auto">
                <a class="nav-link bg-white active" data-toggle="tab" href="#profile" role="tablist">
                  <i class="fa fa-address-card text-info"></i>
                </a>
              </li>
              <li class="nav-item m-auto">
                <a class="nav-link bg-white active" data-toggle="tab" href="#home" role="tablist">
                  <i class="fa fa-phone text-info"></i>
                </a>
              </li>
              <li class="nav-item m-auto">
                <a class="nav-link bg-white active" data-toggle="tab" href="#messages" role="tablist">
                  <i class="fa fa-laptop text-info"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="card-body p-0 row justify-content-center">
            <div class="col-3 m-auto text-center">
              <h5 class="card-title">Step 1 </h5>
              <p class="card-text"> Complete the application form </p>
            </div>
            <div class="col-3 m-auto text-center">
              <h5 class="card-title">Step 2</h5>
              <p class="card-text"> Cultural phone interview </p>
            </div>
            <div class="col-3 m-auto text-center">
              <h5 class="card-title">Step 3</h5>
              <p class="card-text"> Begin the class </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
        </div>
        <div class="col-5">
        </div>
      </div>
    </div>
