<div id="admissions" class="container">
  <div class="row justify-content-center">
    <div class="col-2">
    </div>
    <div class="col-8">
      <h1> Admissions Process </h1>
      <div class="row justify-content-center">
        <div class="card bg-primary text-light p-2" style="border: none;">
          <div class="button-group row">
            <div class="col-3">
              <div class="button">
                <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
              </div>
            </div>
            <div class="col-3">
              <div class="button">
                <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
              </div>
            </div>
            <div class="col-3">
              <div class="button">
                <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
              </div>
            </div>
          </div>
          <div class="card-body p-0 row justify-content-center">
            <div class="col-4">
              <h5 class="card-title">Step 1 </h5>
              <p class="card-text"> Complete the application form </p>
            </div>
            <div class="col-4">
              <h5 class="card-title">Step 2</h5>
              <p class="card-text"> Cultural phone interview </p>
            </div>
            <div class="col-4">
              <h5 class="card-title">Step 3</h5>
              <p class="card-text"> Begin the class </p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
        </div>
        <div class="col-5">
        </div>
      </div>
    </div>
