<section>
  <div class="row" style="text-align: center; padding-top: 6%;">
    <h3 style="padding-top: 0px; text-align: center; width: 100%">Course Instructor</h3>
  </div>

  <div class="row review-row">
    <div class="row" class="review-p">
      <div class="col-md-3 profile-text" style="text-align: center;">
        <%= link_to 'https://www.linkedin.com/in/jeff-katz-5417a65/', class: 'review-photo', target: :_blank do %>
          <%= image_tag('profiles/jeff.jpeg', class: 'rounded-circle review-img') %>
        <% end %>
        Jeff Katz
      </div>
      <div class="col-md-9 p-text">
        <p>
        Jeff has been teaching and writing curricula for software engineering and data science students since 2015.
        </p>
        <p>
        At Flatiron School, he first took over the in-person web development course from the co-founder in 2015, and built Flatiron School's first data science program in 2017 -- designing, and teaching the first courses.
        He then taught data science at the university level before founding Jigsaw Labs in 2019.
        </p>
        <p>
        His students have gone on to work for companies like Facebook, Apple, Amazon, Blackrock, Github, Reddit, and LinkedIn.
        </p>
      </div>
    </div>
  </div>
</section>
