<section>
  <div class="row" style="text-align: center; padding-top: 6%;">
    <h3 style="padding-top: 0px; text-align: center; width: 100%">Course Instructor</h3>
  </div>

  <div class="row review-row">
    <div class="row" class="review-p">
      <div class="col-md-3 profile-text" style="text-align: center;">
        <%= link_to 'https://www.linkedin.com/in/jeff-katz-5417a65/', class: 'review-photo', target: :_blank do %>
          <%= image_tag('profiles/jeff.jpeg', class: 'rounded-circle review-img') %>
        <% end %>
        Jeff Katz
      </div>
      <div class="col-md-9 p-text">
        <p>
        Jeff has been teaching and writing curricula for software engineering and data science students since 2015. His students have gone on to work for companies like Facebook, Apple, Amazon, Blackrock, Github, Reddit, and LinkedIn.
        </p>

        <p>
        At Flatiron School, he was the lead instructor for the in-person web development course, then built and taught Flatiron School's first data science program.
        </p>
      <p>
        He has also taught data science at the university level before founding Jigsaw Labs in 2019.
        </p>
      </div>
    </div>
  </div>
  <div class="row" style="text-align: center; padding-top: 6%;">
    <h3 style="padding-top: 0px; text-align: center; width: 100%">Business Partnerships</h3>
  </div>

  <div class="row review-row">
    <div class="row" class="review-p">
      <div class="col-md-3 profile-text" style="text-align: center;">
        <%= link_to 'https://www.linkedin.com/in/yuchenmit/', class: 'review-photo', target: :_blank do %>
          <%= image_tag('profiles/yu_chen.jpeg', class: 'rounded-circle review-img') %>
        <% end %>
        Yu Chen
      </div>
      <div class="col-md-9 p-text">
        <p>
        Yu helped build products at Google that reached hundreds of millions of users, and worked with Google partners to launch those products across international markets. </p>
        <p> She then led the academics product team at Flatiron School.  </p>
        <p>She's passionate about bridging the skills gap in the technology industry.  </p>
      </div>
    </div>
  </div>
</section>
