<section style="padding: 10% 0">
  <div class="row" style="text-align: center; ">
    <div class="col-sm">
      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding: 5%; width: 100%">
          An affordable program.
        </h3>
      </div>
      <p class="p-text"> For many bootcamps, the all in cost is tuition *plus* lost salary. But with our course, you don't need to quit your job. </p>
      <p class="p-text"> We've found this makes the entire process less stressful, leading to a better learning experience and job search. </p>
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              Part-time
            </h2>
            <h5>
              So you can keep your job.
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              $1,000
            </h2>
            <h5>
              Tuition until you're hired.
            </h5>
            <p class="p-text" style="text-align: center;"> Then 12 monthly payments for a <br/> <span style="font-weight: 500"> total cost of $11,500. <span>  </p>

          </div>
        </div>

        <div class="card shadow-lg">
          <div class="card-body">
            <p class="p-text" style="text-align: center;"> Or, make two payments during the course for a <br> total cost of $7500.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</section>
