<div class="container">
  <div class="row" style="text-align: center; ">
    <div class="col-sm">
      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding: 5%; width: 100%">  And your finances.  </h3>
      </div>
      <p> The cost of a fulltime bootcamp is tuition *plus* lost salary. </p>
      <p> This can add to the stress of the course, and the job search.  That's why our course is part-time. </p>
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              Part-time
            </h2>
            <h5>
              So you can keep your job.
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              $1,000
            </h2>
            <h5>
              Tuition until you're hired.
            </h5>
            <p> Then 12 monthly payments for a cost of <br/> <span style="font-weight: 500"> $8,000 all in. <span>  </p>

          </div>
        </div>

        <div class="card shadow-lg">
          <div class="card-body">
            <p> Or, make two payments during the course for a <br> total cost of $5500.  </p>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</div>
