      <div class="row p-0">
        <div class="col-12" style="max-width: 800px; margin: 0 auto;">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-8" style="padding-right: 0px;">
                  <div class="row p-0" style="font-size: 19px;">
                    Data Engineering (Job Guarantee)
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 90%;">
                    Online Zoom Class (15 students)
                  </div>
                </div>
                <div class="col-4" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item" style="padding-left: 0px; padding-right: 0px;">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%; margin: auto;">
                      <i class="fa fa-book" style=""></i>  Topics
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      Containers, Cloud Computing, and Big Data
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-university" style=""></i>  Cost
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      $1800
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-road"></i>  Length
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 90%;">
                      10 Weeks (Jan 5 - March 13)
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left; font-size: 90%;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-8" style="text-align: left; font-size: 75%;">
                      Tues, Thurs (6:30 - 9:30 pm)
                      <br />
                      Saturdays (10:30 am - 6:30 pm)
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
