<div  class="container">
  <div  class="row justify-content-center">
    <div class="col-11 font-medium pl-4 pr-4">
      <div class="row justify-content-start">
        <h1> Learn Data Science </h1>
      </div>
      <div class="row justify-content-start">
        <p class="lead font-large"> Decisions will be made by those who understand data.</p>
      </div>
      <div class="row extra-large">

        <div class="card-columns font-medium">
          <div class="card bg-secondary text-white p-4" style="border: none;">
            <div class="card-body p-0">
              <h5 class="card-title font-weight-bold">Learn how to acquire data</h5>
              <ul class="card-text">
                <li>Capture data wherever it exists online.</li>
                <li>Learn to design products that captures meaningful data.</li>
              </ul>
            </div>
          </div>
          <div class="card p-4 bg-info text-white" style="border: none;">
            <div class="card-body p-0">
              <h5 class="card-title font-weight-bold">Craft a story with your data</h5>
              <ul class="card-text">
                <li>Focus on questions that are impactful and answerable.</li>
                <li>Organize evidence to drive towards compelling and meaningful conclusions.</li>
              </ul>
            </div>
          </div>
          <div class="card p-4 bg-warning" style="border: none;">
            <div class="card-body p-0 text-dark">
              <h5 class="card-title font-weight-bold">See what data is (and isn't) saying</h5>
              <ul class="card-text">
                <li>See how machine learning uncovers the critical factors that impact goals.</li>
                <li>Use statistics to see the holes in statistical arguments.</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
