<div id="experience" class="container">
  <div class="row justify-content-center">
    <div class="col-2">
      <div id="list-example" class="list-group">
        <a class="list-group-item list-group-item-action" href="#list-item-1">The Experience </a>
        <a class="list-group-item list-group-item-action" href="#list-item-2">Syllabus</a>
        <a class="list-group-item list-group-item-action" href="#list-item-3">Admissions</a>
        <a class="list-group-item list-group-item-action" href="#list-item-4">Tuition</a>
      </div>
    </div>
    <div class="col-8">
      <h1> Student Experience </h1>
      <div class="row justify-content-center">
        <div class="col-5">
          <div class="card" style="border: none;">
            <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title">Pair Programming</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card" style="border: none;">
            <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title">Pair Programming</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-5">
          <div class="card" style="border: none;">
            <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title">Pair Programming</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
        <div class="col-5">
          <div class="card" style="border: none;">
            <img src="https://static1.squarespace.com/static/ta/522a22cbe4b04681b0bff826/3211/assets/images/icons/pair.png" class="card-img-top" style="max-width: 60px;"alt="...">
            <div class="card-body p-0">
              <h5 class="card-title">Pair Programming</h5>
              <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
              <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
            </div>
          </div>
        </div>
      </div>
    </div>
