<div id="footer_temp_wrapper" class="font-small">
  <div id="footer_temp" style="text-align: center; position: fixed; bottom: 0; width: 100%;">
    <span class="footer_element footer_element_temporary px-2" style="color: #a7a7a7">
      JIGSAW Labs © 2018
    </span>
    <a href="about_us" class="footer_element footer_element_temporary no-text-decoration" onclick="ga('send', 'event', 'href', 'About Us', 'About Us footer link on homepage');">
      About Us
    </a>
    <a href="faq" class="footer_element footer_element_temporary no-text-decoration" onclick="ga('send', 'event', 'href', 'FAQ', 'FAQ footer link on homepage');">
      FAQ
    </a>

    <!-- Add Twitter and Facebook Pages -->
  </div>
</div>
