  <div class="row review-row" style="padding-bottom: 10%;">
    <div class="col-5">
      <div class="row" class="review-p">
        <p style="" class="p-text review-p"> "The topics covered at Jigsaw Labs are highly relevant to today’s data engineering and cloud computing space. The tools taught in this course are the same as those used by cutting-edge technology companies, and knowing how to use them is an important step in starting a data engineering career."</p>
      </div>
    </div>
    <div class="col-4" style="text-align: left;">
      <%= link_to 'https://www.linkedin.com/in/forest-polchow/', class: 'review-photo', target: :_blank do %>
        <%= image_tag('profiles/forest.jpeg', class: 'rounded-circle review-img') %>
      <% end %>
      <p style="text-align: left;">
      <br />
      Forest Polchow <br /> Data Engineer, Facebook
      </p>
    </div>
    <div class="col-4" style="text-align: left;">
    </div>
  </div>
    <div class="row">
      <div class="col profile-text">
      </div>
    </div>
  </div>
