<section>
  <div class="row" style="text-align: center; padding-top: 6%;">
    <h3 style="padding-top: 0px; text-align: center; width: 100%">Here's how it works.</h3>
  </div>
  <div class="row" style="">
    <table class="table table-striped" style="font-size: calc(.8rem + .2vw);">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Dates</th>
          <th scope="col">Schedule</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody style="font-family: larseit;">
        <tr>
          <td>
            Backend &
            <br />
            Data Engineering
          </td>
          <td>
            Oct. 19 - Apr 3
            <br />
            (24 weeks)
          </td>
          <td>
            Tues, Weds, Thurs
            <br />
            <span style="white-space: no-wrap;"> (6:30 - 9:30 pm) </span>
            <br />
            Sundays
            <br />
            <span style="white-space: no-wrap;"> (12:30 - 9:30 pm) </span>
          </td>
          <td>Online via zoom</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row module-row timeline" style="">
    <div class="col-6">
      <p class="module-weeks">
        Weeks 1 to 10
      </p>
      <p class="module-title">
      Data and Analytics Engineering
      </p>
    </div>
    <div class="col-6">

    </div>
  </div>
  <div class="row">
    <div class="col-md" style="">
      <div class="card shadow-lg card-style">
        <div class="card-body" style="padding: 0px;">
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col" style="border: none;">Python</th>
                <th scope="col" style="border: none;">SQL</th>
                <th scope="col" style="border: none;">Warehouses</th>
                <th scope="col" style="border: none;">Pipelines</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Functions, Testing & OOP
                </td>
                <td>
                   Relational queries
                </td>
                <td>
                  OLTP vs OLAP, and snowflake
                </td>
                <td>
                  Fivetran, DBT, Looker
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="col-md-5" style="text-align: left">
      <p class="p-text"> Companies use data to generate insights.  And that requires
      building a proper data infrastructure.</p>
      <p class="p-text"> We'll start by learning fundamentals like Python, SQL, and testing. </p>

      <p class="p-text"> Then we'll learn the tools and design patterns used by data engineers to move, organize and validate a company's data.</p>

    </div>
    <div class="col-1 d-none d-md-block">

    </div>
  </div>

  <div class="row module-row timeline" style="">
    <div class="col-2">
    </div>
    <div class="col-md">
      <p class="module-weeks">
      Weeks 11 to 20
      </p>
      <p class="module-title">
        Backend Development
      </p>

    </div>
  </div>
  <div class="row module-row" style="">
    <div class="col-md-2 p-0 d-none d-md-block">
    </div>
    <div class="col-md">
        <div class="card shadow-lg card-style">
          <div class="card-body" style="padding: 0px;">
            <table class="table table-striped" style="">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Backend</th>
                  <th scope="col" style="border: none;">Cloud</th>
                  <th scope="col" style="border: none;">ETL</th>
                  <th scope="col" style="border: none;">Projects</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Flask, MVC, Adapters
                  </td>
                  <td>
                    Docker, AWS
                  </td>
                  <td>
                    Scraping, Airflow, S3
                  </td>
                  <td>
                    Data Dashboards
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>

    <div class="col-md-5" style="">
      <p class="p-text"> In this module, you'll learn the components of a modern codebase <span>&#8212;</span> backend, and cloud computing. </p>
      <p class="p-text"> <span style="font-weight: 550"> But really, </span> you'll learn to <i>think and write clearly with code.</i>  This means learning to break down problems, write clean functions, write tests, and use objects. </p>

      <br />
    </div>
  </div>
</div>

  <div class="row module-row timeline" style="">
    <div class="col-8">
    </div>
    <div class="col-md">
      <p class="module-weeks">
      Weeks 21 to 24
      </p>
      <p class="module-title">
      Large Codebases
      </p>

    </div>
  </div>
  <div class="row module-row flex-column-reverse flex-md-row" style="padding-bottom: 5%;">
    <div class="col-4 d-none d-md-block" style="padding: 0px;">


    </div>
    <div class="col-md-4" style="">
      <p class="p-text"> Professional developers navigate a codebase that consists of hundreds of files.</p>
      <p class="p-text"> Fixing a bug, or adding a feature in a large codebase requires a proper workflow for reading and updating code.</p>

    </div>
    <div class="col-md">
        <div class="card shadow-lg card-style">
          <div class="card-body" style="padding: 0px">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;"> Coding Workflows</th>
                  <th scope="col" style="border: none;">Project</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Navigating a codebase.
                    <br />
                     Workflow for bugs & features.
                  </td>
                  <td>
                     Open Source
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <div class="row module-row timeline" style="">
    <div class="col-md">
      <p class="module-weeks">
       Ongoing (six months)
      </p>
      <p class="module-title">
        Post-Work/Career Services
      </p>

    </div>
    <div class="col-md">
    </div>
  </div>
  <div class="row module-row flex-column-reverse flex-md-row" style="">
    <div class="col-md">
      <div class="card shadow-lg card-style">
        <div class="card-body" style="padding: 0px;">
          <table class="table table-striped" style="">
            <thead>
              <tr>
                <th scope="col" style="border: none;">Career Coaching</th>
                <th scope="col" style="border: none;">Projects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Cultural & Tech Interview Prep
                </td>
                <td>
                  Externships/Open Source
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md" style="">
      <p class="p-text">
      We'll meet twice weekly to both prepare for interviews, and continue to work on ongoing projects. Through externships and open source projects, students gain
      real world experience while pursuing interviews.
      </p>

      <p class="p-text"> Students are sourced interviews and leads through career services.</p>
    </div>
  </div>
  <div class="row review-row" style="padding-bottom: 10%;">
    <div class="row" class="review-p">
      <div class="col">
        <p style="" class="p-text review-p"> "In my externship I worked with a former Amazon data scientist to help build an Ecommerce application that improves business operations for store owners."</p>
        <div style="text-align: center;">
          <%= link_to 'https://www.linkedin.com/in/zachary-royals/', class: 'review-photo', target: :_blank do %>
            <%= image_tag('profiles/royals.jpeg', class: 'rounded-circle review-img') %>
          <% end %>
          <br />
          Zack Royals
        </div>
      </div>
      <div class="col">
        <p style="" class="p-text review-p"> "I got my job offer though his career services, but you have to do your part in studying and preparing. He strategically vets hiring managers and recruiters your way."</p>
        <div style="text-align: center;">
          <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=37254#reviews', class: 'review-photo', target: :_blank do %>
            <%= image_tag('profiles/santos.jpeg', class: 'rounded-circle review-img') %>
          <% end %>
          <br />
          Chris Santos
        </div>
      </div>
    </div>
  </div>

</section>

