<section>
  <div class="row" style="text-align: center; padding-top: 6%;">
    <h3 style="padding-top: 0px; text-align: center; width: 100%">Here's how it works.</h3>
  </div>
  <div class="row" style="padding-top: 5%">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Dates</th>
          <th scope="col">Schedule</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Fullstack & Data Engineering
          </td>
          <td>
            October 12 - April 11
            <br />
            24 weeks
          </td>
          <td>
            Tues, Weds, Thurs
            <span style="white-space: no-wrap;"> (6:30 - 9:30 pm) </span>
            <br />
            Sundays
            <span style="white-space: no-wrap;"> (12:30 pm - 9:30 pm) </span>
          </td>
          <td>Online via zoom</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col-5" style="padding: 0px;">
        <div class="card shadow-lg">
          <div class="card-header">
              Fullstack Engineeering (14 weeks)
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Backend</th>
                  <th scope="col" style="border: none;">Frontend</th>
                  <th scope="col" style="border: none;">Project</th>
                  <th scope="col" style="border: none;">Devops</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Python, SQL,
                    Flask
                  </td>
                  <td>
                    JS & React
                  </td>
                  <td>
                    Data dashbaord
                  </td>
                  <td>
                    AWS & Docker
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col-5" style="padding: 0px;">
    </div>
    <div class="col-4">
        <div class="card shadow-lg">
          <div class="card-header">
              Maintaining a Large Codebase (4 weeks)
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Finding & Fixing Bugs</th>
                  <th scope="col" style="border: none;">Project</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Reading a file & codebase. Vim, Git, & TDD.
                  </td>
                  <td>
                     Open Source
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
    <div class="col-3">
        <div class="card shadow-lg">
          <div class="card-header">
              Data Pipelines (6 weeks)
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Databases</th>
                  <th scope="col" style="border: none;">Analytics</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    OLAP, Redshift
                  </td>
                  <td>
                    Airflow, DBT, Stitch
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>

</section>
