<section>
  <div class="row" style="text-align: center; padding-top: 6%;">
    <h3 style="padding-top: 0px; text-align: center; width: 100%">Here's how it works.</h3>
  </div>
  <div class="row" style="padding-top: 5%">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">Course</th>
          <th scope="col">Dates</th>
          <th scope="col">Schedule</th>
          <th scope="col">Location</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            Fullstack & Data Engineering
          </td>
          <td>
            October 12 - April 11
            <br />
            24 weeks
          </td>
          <td>
            Tues, Weds, Thurs
            <span style="white-space: no-wrap;"> (6:30 - 9:30 pm) </span>
            <br />
            Sundays
            <span style="white-space: no-wrap;"> (12:30 pm - 9:30 pm) </span>
          </td>
          <td>Online via zoom</td>
        </tr>
      </tbody>
    </table>

  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col-5" style="padding: 0px;">
        <div class="card shadow-lg">
          <div class="card-header" style="font-family: larseit;">
            Fullstack Engineering (Weeks 1 to 14)
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Backend</th>
                  <th scope="col" style="border: none;">Frontend</th>
                  <th scope="col" style="border: none;">Project</th>
                  <th scope="col" style="border: none;">Devops</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Python, SQL,
                    Flask
                  </td>
                  <td>
                    JS & React
                  </td>
                  <td>
                    Data dashboard
                  </td>
                  <td>
                    AWS & Docker
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
    <div class="col-1">

    </div>

    <div class="col-6" style="text-align: left">
      <h3 style="text-align: center; font-family: larseit;">Fullstack Engineering</h3>

      <p class="p-text"> In this module, you'll learn the components of a modern codebase <span>&#8212;</span> frontend, backend, and cloud computing. </p>
      <br />
      <p class="p-text"> <span style="font-weight: 550"> But really, </span> you'll learn to <i>think and write clearly with code.</i>  This means learning to break down problems, write clean functions, write tests, and use objects. </p>
    </div>
  </div>
  <div class="row" style="padding-top: 5%;">
    <div class="col-5" style="padding: 0px;">
      <h3 style="text-align: center; font-family: larseit;">Large Codebases</h3>

      <p class="p-text"> When working on a development team, you'll need to navigate a codebase that consists of hundreds if not thousands of files.</p>
      <p class="p-text"> Fixing a bug, or adding a feature in a large codebase requires a proper skillset and workflow for reading and updating code.</p>
      <p class="p-text"> We'll develop those skills, and then use them to make open source contributions. </p>
      <br />
    </div>
    <div class="col-4">
        <div class="card shadow-lg">
          <div class="card-header" style="font-family: larseit;">
            Large Codebases (Weeks 15 to 20)
          </div>
          <div class="card-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Finding & Fixing Bugs</th>
                  <th scope="col" style="border: none;">Project</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Reading a file & codebase. Vim, Git, & TDD.
                  </td>
                  <td>
                     Open Source
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>

  <div class="row" style="padding-top: 5%;">
    <div class="col-4" style="padding: 0px;">
    </div>
    <div class="col-5" style="padding: 0px;">
      <h3 style="text-align: center; font-family: larseit;">Data Pipelines</h3>

      <p class="p-text"> Companies use data to generate business insights.  And much of that work requires
      building a proper data infrastructure.</p>

      <p class="p-text"> With data pipelines, we'll learn the tools and design patterns used by data engineers to move, organize and validate a company's data.</p>
    </div>
    <div class="col-3">
        <div class="card shadow-lg">
          <div class="card-header" style="font-family: larseit;">
              Data Pipelines (Weeks 21 to 24)
          </div>
          <div class="card-body">
            <table class="table table-striped" style="width: 102%">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Databases</th>
                  <th scope="col" style="border: none;">Analytics</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    OLAP, Redshift
                  </td>
                  <td>
                    Airflow, Dbt, Fivetran
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>

</section>
<section>

  <div class="row" style="padding-top: 5%;">
    <div class="col-6" style="padding: 0px;">
      <h3 style="text-align: center; font-family: larseit;">Post-Graduation</h3>

      <p class="p-text"> Companies use data to generate business insights.  And much of that work requires
      building a proper data infrastructure.</p>

      <p class="p-text"> With data pipelines, we'll learn the tools and design patterns used by data engineers to move, organize and validate a company's data.</p>
    </div>
    <div class="col-6">
        <div class="card shadow-lg">
          <div class="card-header" style="font-family: larseit;">
              Data Pipelines (Weeks 21 to 24)
          </div>
          <div class="card-body">
            <table class="table table-striped" style="width: 102%">
              <thead>
                <tr>
                  <th scope="col" style="border: none;">Databases</th>
                  <th scope="col" style="border: none;">Analytics</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    OLAP, Redshift
                  </td>
                  <td>
                    Airflow, Dbt, Fivetran
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

    </div>
  </div>
</section>
