<div class="row module-row timeline" style="">
    <div class="col-4 d-none d-md-block" style="padding: 0px;">
    </div>
    <div class="col-md-4" style="">
      <p class="module-weeks">
      Weeks 21 to 24
      </p>
      <p class="module-title">
        Large Codebases
      </p>
    </div>
    <div class="col">
    </div>
</div>

<div class="row module-row flex-column-reverse flex-md-row" style="padding-bottom: 5%;">
    <div class="col-4 d-none d-md-block" style="padding: 0px;">


    </div>
    <div class="col-md-4" style="">
      <p class="p-text"> Professional developers navigate a codebase that consists of hundreds of files.</p>
      <p class="p-text"> Fixing a bug, or adding a feature in a large codebase requires a proper workflow for reading and updating code.</p>

    </div>
    <div class="col-md">
        <div class="card shadow-lg card-style">
          <div class="card-body" style="padding: 0px">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th scope="col" style="border: none;"> Coding Workflows</th>
                  <th scope="col" style="border: none;">Project</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>
                    Navigating a codebase.
                    <br />
                     Workflow for bugs & features.
                  </td>
                  <td>
                     Open Source
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
    </div>
  </div>
  <div class="row module-row timeline" style="">
    <div class="col-md">
      <p class="module-weeks">
       Ongoing (six months)
      </p>
      <p class="module-title">
        Post-Work/Career Services
      </p>

    </div>
    <div class="col-md">
    </div>
  </div>
  <div class="row module-row flex-column-reverse flex-md-row" style="">
    <div class="col-md">
      <div class="card shadow-lg card-style">
        <div class="card-body" style="padding: 0px;">
          <table class="table table-striped" style="">
            <thead>
              <tr>
                <th scope="col" style="border: none;">Career Coaching</th>
                <th scope="col" style="border: none;">Projects</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  Cultural & Tech Interview Prep
                </td>
                <td>
                  Externships/Open Source
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>

    </div>
    <div class="col-md" style="">
      <p class="p-text">
      We'll meet twice weekly to both prepare for interviews, and continue to work on ongoing projects. Through externships and open source projects, students gain
      real world experience while pursuing interviews.
      </p>

      <p class="p-text"> Students are sourced interviews and leads through career services.</p>
    </div>
  </div>
  <div class="row review-row" style="padding-top: 10%;">
    <div class="row" class="review-p">
      <div class="col">
        <p style="" class="p-text review-p"> "In my externship I worked with a former Amazon data scientist to help build an Ecommerce application that improves business operations for store owners."</p>
        <div style="text-align: center;">
          <%= link_to 'https://www.linkedin.com/in/zachary-royals/', class: 'review-photo', target: :_blank do %>
            <%= image_tag('profiles/royals.jpeg', class: 'rounded-circle review-img') %>
          <% end %>
          <br />
          Zack Royals
        </div>
      </div>
      <div class="col">
        <p style="" class="p-text review-p"> "I got my job offer though his career services, but you have to do your part in studying and preparing. He strategically vets hiring managers and recruiters your way."</p>
        <div style="text-align: center;">
          <%= link_to 'https://www.coursereport.com/schools/jigsaw-labs?shared_review=37254#reviews', class: 'review-photo', target: :_blank do %>
            <%= image_tag('profiles/santos.jpeg', class: 'rounded-circle review-img') %>
          <% end %>
          <br />
          Chris Santos
        </div>
      </div>
    </div>
  </div>
