<section style="padding: 5% 0">
  <div class="row" style="padding-bottom: 1%;">
        <h2 style="text-align: center; padding: 5%; width: 100%">
          With a built-in externship program.
        </h2>
  </div>
  <div class="row" style="text-align: center; ">
    <div class="col-sm">
      <p class="p-text"> <b> What's an externship?</b> </p>
      <p class="p-text">  The best engineering candidates show on-the-job experience.  So we built it into the program.  </p>
      <p class="p-text"> Halfway through our part-time program, students partner with top companies to deliver part-time work.</p>
      <p class="p-text"> Our current students are working with engineering teams at a cryptocurrency startup, a machine learning optimization startup, <br/> and top data engineering company.</p>
    </div>

    <div class="col-sm">
      <div class="col-sm">
      
      <p style="" class="p-text review-p"> "In my externship I worked with a former Amazon data scientist to help build an Ecommerce application that improves business operations for store owners."</p>
        <div style="text-align: center;">
          <%= link_to 'https://www.linkedin.com/in/zachary-royals/', class: 'review-photo', target: :_blank do %>
            <%= image_tag('profiles/royals.jpeg', class: 'rounded-circle review-img') %>
          <% end %>
          <br />
          Zack Royals 
        </div>
      </div>
    </div>
  </div>

</div>
</div>
</section>
