
  <p style="width: 80%; margin: 0 auto;" class="p-med"> "The curriculum builds a really solid understanding of the fundamentals and then grows this by covering a lot of topics at a quick pace.</p>
  <p style="width: 80%; margin: 0 auto;"class="p-med"> When I tell my software/data engineering friends what we're learning, they're impressed by how much the curriculum covers."</p>
  <cite class="big-quote__source">
    <%= link_to '#', :style=> 'color:#222; font-size: 40%' do %>
      <%= image_tag('profiles/waskom.jpeg', height: '50', width: '50', class: 'rounded-circle') %> Chris Waskom
    <% end %>
  </cite>
  <p> </p>
