      <div class="row">
        <div class="col-12" style=" margin: 0 auto;">
          <div class="card shadow-lg">
            <div class="card-body">
              <div class="row" style="text-align: center; width: 75%;">
                <div class="col-sm">
                  <h2>
                    $115,000
                  </h2>
                  <h5>
                    Avg. Starting Salary
                  </h5>
                </div>
                <div class="col-sm">
                  <h2>
                    $70,000
                  </h2>
                  <h5>
                    Job guaranteed within 6 months of graduating.
                  </h5>
                </div>
                <div class="col-sm">
                  <h2>
                    12
                  </h2>
                  <h5>
                    Students per class.
                  </h5>
                </div>
              </div>
              <div class="row" style="text-align: center; width: 75%;">
                <div class="col-sm">
                <p> Students graduated June 2021. </p>
                <p> Two months later, half have been hired for an avg salary of $115k.</p>

                </div >
              </div>

            </div>
          </div>
        </div>
      </div>
