  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__text">
      <h2>Possibility and passion in your new career.</h2>
      <div class="row p-0">
        <div class="col-8 offset-md-2">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-md-6" >
                  <div class="row p-0">
                    Programming For Data Science
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 16px;">
                    Nomadworks, 1216 Broadway (at 30th St)
                  </div>
                </div>
                <div class="col-md-6" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-university"></i> Program Cost
                    </div>
                    <div class="col-2" style="text-align: left;">
                      $1200
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-road"></i> Program Length
                    </div>
                    <div class="col-4" style="text-align: left;">
                      5 Weeks - begins Feb. 1
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-5" style="text-align: left;">
                      Tues, Thurs (6:30 - 9:30 pm)
                      Saturdays (10:30 am - 6:30 pm)
                    </div>
                    <div class="col-4" style="text-align: left;">
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div class="col-8 offset-md-2">
          <div class="card shadow-lg">
            <div class="card-header shadow-sm">
              <div class="row p-0">
                <div class="col-md-6" >
                  <div class="row p-0">
                    Data Science Career Course
                  </div>
                  <div class="row p-0" style="color: #706c87; font-size: 16px;">
                    Nomadworks, 1216 Broadway (at 30th St)
                  </div>
                </div>
                <div class="col-md-6" >
                  <div class="Button float-right m-1 rounded shadow-sm">
                    <a class="js--signup-modal-trigger " style="padding: 15px 26px;"href="/applications/new">Apply Now</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="card-body">
              <ul class="list-group list-group-flush">
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-university"></i> Program Cost
                    </div>
                    <div class="col-2" style="text-align: left;">
                      $6000
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-road"></i> Program Length
                    </div>
                    <div class="col-4" style="text-align: left;">
                      6 months - begins Feb. 1
                    </div>
                  </div>
                </li>
                <li class="list-group-item">
                  <div class="row p-0">
                    <div class="col-4" style="text-align: left;">
                      <i class="fa fa-calendar"></i> Days
                    </div>
                    <div class="col-5" style="text-align: left;">
                      Tues, Thurs (6:30 - 9:30 pm)
                      Saturdays (10:30 am - 6:30 pm)
                    </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <p> Located at 1216 Broadway (30th Street) 10001.</p>
  <p style="margin: 0 auto; text-align: center"> Questions? Get in touch.</p>
  <p style="margin: 0 auto; text-align: center">  <a href="https://calendly.com/jigsaw-labs/information-chat?month=2019-11" >Let's chat!</a></p>
      <br>
    </div>
  </section>
