<section>
  <div class="row" style="text-align: center; ">
    <div class="col-sm">
      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding-left: 0px; width: 100%">
          We care about quality.
        </h3>
      </div>
      <p class="p-text"> In June 2021, we graduated our first engineering cohort.
      Two months later, half have been hired for an average salary of $115,000.</p>
      <p class="p-text"> We guarantee a paying job offer within six months of graduating, and a job offer of $70,000 or more within nine months of graduating.
    </div>

    <div class="col-sm">
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              $115,000
            </h2>
            <h5>
              Average Starting Salary
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              $70,000
            </h2>
            <h5>
              Job guaranteed
            </h5>
          </div>
        </div>
      </div>
      <div class="col-sm">
        <div class="card shadow-lg">
          <div class="card-body">
            <h2>
              12
            </h2>
            <h5>
              Students per class
            </h5>
          </div>
        </div >
      </div >
    </div>
  </div>

</div>
</div>
</section>
