<section>
  <div class="row flex-column-reverse flex-md-row" style="text-align: center; ">

    <div class="col-sm">
      <div class="row justify-content-center">
        <div class="card shadow-lg" style="min-width: 80%">
          <div class="card-body">
            <h2>
              $115,000
            </h2>
            <h5>
              Average Salary
            </h5>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card shadow-lg" style="min-width: 80%">
          <div class="card-body">
            <h2>
              $70,000
            </h2>
            <h5>
              Job guaranteed
            </h5>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card shadow-lg" style="min-width: 80%">
          <div class="card-body">
            <h2>
              12
            </h2>
            <h5>
              Students per class
            </h5>
          </div>
        </div >
      </div >
    </div>

    <div class="col-sm">
      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding-left: 0px; width: 100%">
          We care about quality.
        </h3>
      </div>
      <p class="p-text d-none d-sm-block"> In June 2021, we graduated our first engineering cohort.
      Two months later, multiple students have been hired for an average salary of $115,000.</p>
      <br />
      <p class="p-text d-none d-sm-block"> We guarantee a paying job offer within six months of graduating, and a job offer of $70,000 or more within nine months of graduating.
      </p>
    </div>
  </div>
</section>
