<section id="quality">
  <div class="row flex-column-reverse flex-md-row" style="text-align: center; ">

    <div class="col-sm">
      <div class="row justify-content-center">
        <div class="card shadow-lg" style="min-width: 80%">
          <div class="card-body">
            <h2>
              $115,000
            </h2>
            <h5>
              Average Salary
            </h5>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card shadow-lg" style="min-width: 80%">
          <div class="card-body">
            <h2>
              $70,000
            </h2>
            <h5>
              Job guaranteed
            </h5>
          </div>
        </div>
      </div>

      <div class="row justify-content-center">
        <div class="card shadow-lg" style="min-width: 80%">
          <div class="card-body">
            <h2>
              15
            </h2>
            <h5>
              Students per class
            </h5>
          </div>
        </div >
      </div >
    </div>

    <div class="col-sm">
      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding-left: 0px; width: 100%">
          We care about quality outcomes.
        </h3>
      </div>
      <p class="p-text d-none d-sm-block"> In June 2021, we graduated our first engineering cohort.
      </p>
      
      <p class="p-text d-none d-sm-block"> Six of seven students graduated from the program.
      </p>

      <p class="p-text d-none d-sm-block"> Within six months, <b> all graduates received job offers </b> with starting salaries at <b> $100,000 or more </b>.
      </p>


      
      <br />
      <p class="p-text d-none d-sm-block"> We guarantee a job offer of $70,000 or more within nine months of graduating.
      </p>
    </div>
  </div>
</section>
