
<ul class="list-group list-group-flush">
  <li class="list-group-item">
    <div class="row p-0">
      <div class="col-4" style="text-align: left; font-size: 90%;">
        <i class="fa fa-road"></i>  Length
      </div>
      <div class="col-8" style="text-align: left; font-size: 90%;">
        <div class="col-sm">24 weeks </div> <div class="col-sm"> Oct 12 - April 11 </div>
      </div>
    </div>
  </li>
  <li class="list-group-item">
    <div class="row p-0">
      <div class="col-4" style="text-align: left; font-size: 90%;">
        <i class="fa fa-calendar"></i> Days
      </div>
      <div class="col-8" style="text-align: left; font-size: 75%;">
        Tues, Weds, Thurs
        <span style="white-space: no-wrap;"> (6:30 - 9:30 pm) </span>
        <br />
        Sundays
        <span style="white-space: no-wrap;"> (12:30 pm - 9:30 pm) </span>
      </div>
    </div>
  </li>
</ul>
