
<div class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Coding</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--justine">
        <%= image_tag 'course_details/api.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active">
        <div class="MixCard__attr">
          <span class="">
            Python & SQL
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            APIs & Scraping
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            ETL with Objects
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Data Dashboards
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered" style="left: -6%;">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 1 -9 </h1>
        <p> Data Scientists must be able to acquire data and to organize that data wherever it exists on online. <p>
        <p> We'll learn Python and SQL, as well as the fundamental ideas underlying the web.</p>
        <p style="padding-right: 20px;"> This is the entire 9-week Programming Course, and the first section of the Career Course.</p>
      </div>
    </div>
  </div>
</div>
<div class="Persona Section Section--even Section--second">
  <div class="col  Persona__first_col stats-column" >
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div id="" class="" style="position: relative; display: inline;">
          <div class="Persona__mixcard-name-badge dot" style="width: 150px; align-items: center;">
             Deployment
          </div>
        </div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--ariel">
        <%= image_tag 'course_details/geo-process.svg' %>

      </div>

      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--second mix-active">
        <div class="MixCard__attr">
          <span class="">
            Testing
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            AWS
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Docker
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Kubernetes
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered statistics-text-col">
    <div class="Persona__card">
      <div class="text-box" style="">
        <h1> Weeks 10- 12 </h1>
        <p> The data pipeline is the step by step process for obtaining data, organizing data, and deploying data services.<p>
        <p> We'll learn the skills to put a website or machine learning model into production with testing, a data pipeline, and deployment. </p>
      </div>
    </div>
  </div>
</div>


<div class="Persona Section Section--odd Section--third">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot"> Big Data</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--business">
        <%= image_tag 'women-presenting.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--third mix-active">
        <div class="MixCard__attr">
          <span class="">
            Airflow
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Spark
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Final Projects
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered" style="left: -6%;">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 14 - 19 </h1>
        <p> Here, we'll learn about big data and distributed computing with Pyspark.  We'll learn how to process streaming data with Kafka.  <p>
        <p> We'll finish up our data pipeline skills with airflow.</p>
      </div>
    </div>
  </div>
</div>

<div class="Persona Section Section--even Section--second" style="padding-left: 0px; padding-right: 0px;">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot" style="width: 150px; align-items: center;">Career Prep</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--math">
        <%= image_tag 'course_details/diagram.svg' %>
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active" style="right: 66px">
        <div class="MixCard__attr">
          <span class="">
            Algorithms
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Advanced SQL
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Refactoring
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Post Work </h1>
        <p> We'll  review and improve our coding skills as we go on data engineering interviews. <p>
        <p> We'll review data structures and algorithms, improve our final projects, and review and improve our SQL skills. <p>
      </div>
    </div>
  </div>
</div>

<style type="text/css" media="all">
.Persona.Section {
  padding-left: 0px;
  padding-right: 0px;
}

</style>
