
<section id="modern_engineering" class="container" style="padding-top: 5%;">
  <div class="row" style="padding-top: 5%;">
    <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 5%;">
      Modern engineering requires a comprehensive approach.
    </h3>
  </div>

  <div class="row flex-column-reverse flex-md-row" style="text-align: center; padding-bottom: 5%;">

    <div class="col" style="max-width: 50%">
      <img src="/assets/course_details/fullstackcut.svg" />
    </div>
    <div class="col vertical-align-text" style="padding-left: 3%; ">

      <p class="p-text ">
        The front end is what the user sees in their browser, and consists of HTML, CSS, and JavaScript.  We'll mainly focus on JavaScript and React, a popular JavaScript library.

      </p>
      <br>
      <p class="p-text ">
      Now even though the user only sees the front end, behind the scenes a web application needs to search through and collect data to then send to correct browser.  This is most of the work of a web application, and we'll use SQL and Python to accomplish it.
      </p>
      <br />

      <p class="p-text ">
      Finally, sharing our application with others means storing our data on the cloud, and moving our code to the cloud.  By the cloud we just mean a company's computer that we can rent on demand.  For this, we'll use Amazon Web Services and Docker.
      </p>
    </div>
  </div>

      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 3%">
          But involves a few core skills.
        </h3>
      </div>
  <div class="row flex-column-reverse flex-md-row" style="text-align: center; padding-bottom: 5%;">

    <div class="col-md-8 offset-md-2" style="max-width: 100%">
      <canvas id="myChart"></canvas>
      <p class="p-text " style="font-size: .8em; text-align: center;">
        Percentage of all *all* Indeed.com job postings, listing the above skills.
      </p>
    </div>
  </div>
  <div class="row" style="padding-top: 5%;">
    <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 2%;">
      And our real focus is code.
    </h3>
  </div>

  <div class="row flex-column-reverse flex-md-row" style="text-align: center; ">

    <div class="col" style="max-width: 50%; padding-right: 5%;">
      <img src="/assets/course_details/pair_programming.svg" />
    </div>
    <div class="col vertical-align-text" style="padding-left: 5%">
      <p class="p-text ">
        The skills of front end, back end and cloud computing are covered in the first module.
      </p>
      <br>

      <p class="p-text ">
      We then spend the next module teaching a process of how to navigate a large open source codebases that others wrote.  Here, the skill is to navigate, comprehend, and contribute to an unfamiliar codebase.
      </p>

      <p class="p-text ">
      And this is the real skill required of a professional developer.  By developing this skillset, you'll learn the procedures to work with various codebases, regardless of the particular languages or tools.
    </div>
  </div>
  <div class="row" style="padding-top: 5%;">
    <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 2%;">
      With a data specialization.
    </h3>
  </div>

  <div class="row flex-column-reverse flex-md-row" style="text-align: center; ">

    <div class="col d-flex justify-content-center" style="max-width: 50%; padding-right: 5%;">
      <blockquote class="card blockquote" style="font-family: larsiet;">
        <div class="card-body">
          <div class="card-title justify-content-left d-flex">
              <%= image_tag('profiles/vicki_boykis.jpeg', class: 'rounded-circle review-img', style: 'width: 80px;') %>
              <h5 class="card-title vertical-align-text" style="padding-left: 2%; ">Vicki Boykis, <i style="font-size: .6em">Machine Learning Engineer, Tumblr </i> </h5>
          </div>
          <p class="card-text" style="text-align: left; font-size: 1em; color: rgb(51, 46, 86);"> Just a personal anecdote, but, in the past 2 years,
          <br />
          % of any given project: </p>
          <div class="row">
            <div class="col" style="text-align: left;">
              That involves ML: 15%
            </div>
          </div>
          <div class="row text-left">
             That involves moving, monitoring, and counting data to feed ML:
          </div>
          <div class=" row d-flex justify-content-center"  style="font-size: 2em; text-align: center;">
             85%
          </div>
        </div>

      <p class="p-text" style="font-size: .8em; padding-left: 2%;">
      Source: <a href="https://veekaybee.github.io/2019/02/13/data-science-is-different/" target="_blank" style="color: #524D6E;"><i> Data science is different now. </i> </a>
      </p>
      </blockquote>
    </div>
    <div class="col vertical-align-text" style="padding-left: 5%">
      <p class="p-text ">
      By learning back end engineering and cloud computing through the first two modules, we only have to learn a data pipelines to round out the skills for a data engineer.
      </p>
      <br>
      <p class="p-text ">
      It's worth it.  By learning skills like Airflow, Redshift and DBT, not only are we learning a critical and in demand skillset, but also we're learning the foundation for a future career in data.
      </p>
      <br>
      <p class="p-text ">
      In fact, if you want to become a data scientist or machine learning engineer, get the data engineering skills first.
      </p>
      <p class="p-text " style="font-size: .8em; ">
      Further reading:
      </p>
      <p class="p-text " style="font-size: .8em; ">
      <a href="http://blog.jigsawlabs.io/2020/09/to-break-into-data-science-first-master.html" target="_blank" style="color: #524D6E;"><i> The data science jobs have moved. </i> </a>
      </p>

    </div>
  </div>
</section>
