
<section class="container" style="padding-top: 5%;">
  <div class="row" style="padding-top: 5%;">
    <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 5%;">
      Modern engineering requires a comprehensive approach.
    </h3>
  </div>

  <div class="row flex-column-reverse flex-md-row" style="text-align: center; padding-bottom: 5%;">

    <div class="col" style="max-width: 50%">
      <img src="/assets/course_details/fullstackcut.svg" />
    </div>
    <div class="col vertical-align-text" style="padding-left: 3%; ">

      <p class="p-text d-none d-sm-block">
        The front end is what the user sees in their browser, and consists of HTML, CSS, and JavaScript.  We'll mainly focus on JavaScript and React, a popular JavaScript library.

      </p>
      <br>
      <p class="p-text d-none d-sm-block">
      Now even though the user only sees the front end, behind the scenes a web application needs to search through and collect data to then send to correct browser.  This is most of the work of a web application, and we'll use SQL and Python to accomplish it.
      </p>
      <br />

      <p class="p-text d-none d-sm-block">
      Finally, sharing our application with others means storing our data on the cloud, and moving our code to the cloud.  By the cloud we just mean a company's computer that we can rent on demand.  For this, we'll use Amazon Web Services and Docker.
      </p>
    </div>
  </div>

      <div class="row" style="padding-bottom: 1%;">
        <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 3%">
          But involves a few core skills.
        </h3>
      </div>
  <div class="row flex-column-reverse flex-md-row" style="text-align: center; padding-bottom: 5%;">

    <div class="col" style="max-width: 50%">
      <canvas id="myChart"></canvas>
      <p class="p-text d-none d-sm-block" style="font-size: .8em; text-align: center;">
        Percentage of all *all* Indeed.com job postings, listing the above skills.
      </p>
    </div>
    <div class="col vertical-align-text" style="padding-left: 3%">
      <p class="p-text d-none d-sm-block">
      It may seem like a lot, but really we're focusing on a just handful of skills.
      </p>

      <p class="p-text d-none d-sm-block">
      Each of which are growing and in demand.
      </p>
    </div>
  </div>
  <div class="row" style="padding-top: 5%;">
    <h3 style="text-align: center; padding-left: 0px; width: 100%; padding-bottom: 2%;">
      And the real focus is code.
    </h3>
  </div>

  <div class="row flex-column-reverse flex-md-row" style="text-align: center; ">

    <div class="col" style="max-width: 50%; padding-right: 5%;">
      <img src="/assets/course_details/pair_programming.svg" />
    </div>
    <div class="col vertical-align-text" style="padding-left: 5%">
      <p class="p-text d-none d-sm-block">
        The skills of front end, back end and cloud computing are covered in the first module.
      </p>
      <br>

      <p class="p-text d-none d-sm-block">
      We then spend the next module teaching a process of how to navigate a large open source codebases that others wrote.  Here, the skill is to navigate, comprehend, and contribute to an unfamiliar codebase.
      </p>

      <p class="p-text d-none d-sm-block">
      And this is the real skill required of a professional developer.  By developing this skillset, you'll learn the procedures to work with various codebases, regardless of the particular languages or tools.
    </div>
  </div>
</section>
