<div id="fullpage">
  <div class="section fp-auto-height pt-0">
    <div class="container-fluid text-light bg-shrunk">
      <%= render 'navbar' %>
    <div class="container">
      <div class="lead text-center font-italic font-weight-bold row p-4 justify-content-center" style="top: 130px;
      position: relative;">
        Construct your next chapter.
      </div>
    </div>
  </div>
  </div>

  <div class="section pt-4">
    <%= render 'experience' %>
  </div>
  <div class="section pt-4">
    <%= render 'syllabus' %>
  </div>
  <div class="section pt-4 fp-auto-height">
    <%= render 'admissions' %>
  </div>
</div>
