<%= render 'navbar' %>
  <section class="Intro--new" style="background: #f1f2f7;">
    <div class="row">
      <div class="col Intro__content">
        <div class="Section--even">
          <h1 class="Intro__title">
             Become data driven.
          </h1>
          <div class="Intro__body">
            <p>
            Hands on learning in acquiring and answering questions with data.
            </p>
          </div>
          <div class="Intro__cta">
            <div class="Button Button__purple">
              <a href="/auth/welcome">Start Learning For Free </a>
            </div>
              <a class="title-link" href="/auth/welcome">Apply</a>
          </div>
        </div>
      </div>
      <div class="col"></div>
    </div>
  </section>



  <section class="RealStories Section--centered">
<div class="RealStories__title">
<h2> Your ten week path. </h2>
</div>
<div class="Persona Section Section--even Section--first">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Coding</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--justine">
        <img src="./api.svg">
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--first mix-active">
        <div class="MixCard__attr">
          <span class="">
            Python
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            APIs
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            SQL
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Web Scraping
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 1 -3 </h1>
        <p> Data Scientists must be able to acquire data and to organize that data wherever it exists on online. <p>
        <p> We'll learn Python and SQL, as well as the fundamental ideas underlying the web.</p>
      </div>
    </div>
  </div>
</div>
<div class="Persona Section Section--even Section--second">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div id="" class="" style="position: relative; display: inline;">
          <div class="Persona__mixcard-name-badge dot">
            Statistics
          </div>
        </div>
      </div>
      <img class="Persona__portrait-bg" src="" data-src="" srcset="">
      <div class="Persona__portrait__container Persona__portrait__container--ariel">
        <img src="./scatter-1.svg"  />
      </div>

      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--second mix-active">
        <div class="MixCard__attr">
          <span class="MixCard__attr">
            Regression
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Classification
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Clustering
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Predictive Modeling
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 4 -8 </h1>
        <p> Data Scientists must be able to acquire data and to organize that data wherever it exists on online. <p>
        <p> We'll learn Python and SQL, as well as the fundamental ideas underlying the web.</p>
      </div>
    </div>
  </div>
</div>


<div class="Persona Section Section--odd Section--third">
  <div class=" col  Persona__first_col">
    <div class="Persona__attributes">
      <div class="Persona__mixcard-name-badge-wrapper">
        <div class="Persona__mixcard-name-badge dot">Business Analysis</div>
      </div>
      <div class="Persona__portrait__container Persona__portrait__container--business">
        <img src="./diagram.svg">
      </div>
      <div class="Persona__mixcard__attrs Persona__mixcard__attrs--third mix-active">
        <div class="MixCard__attr">
          <span class="">
            Data Visualization
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Storytelling
          </span>
        </div>
        <div class="MixCard__attr">
          <span class="">
            Decision Analysis
          </span>
        </div>
      </div>
    </div>
  </div>
  <div class="col Persona__second_col flex-centered">
    <div class="Persona__card">
      <div class="" style="">
        <h1> Weeks 9 -10 </h1>
        <p> Data Scientists must be able to acquire data and to organize that data wherever it exists on online. <p>
        <p> We'll learn Python and SQL, as well as the fundamental ideas underlying the web.</p>
      </div>
    </div>
  </div>
</div>
<div class="cta-wrapper cta-spacing-bottom cta-spacing-top-lg">
  <div class="cta-divider "></div>
  <div class="Button ">
    <a class="js--signup-modal-trigger" href="/auth/welcome">Start free trial</a>
  </div> <div class="Button__subtext copy-sm">+ shipping &amp; handling</div>
</div>
  </section>


  <section class="HomeEfficacy Section--inverted">
    <div class="HomeEfficacy__otc"></div>
    <div class="HomeEfficacy__text Section__content">
      <h2>Possibility and passion in your new career.</h2>
      <p> Welcome to a student-driven classroom that explores rich topics, <br/> whether in mathematics or visualization. </p>
      <div class="cta-wrapper cta-spacing-top">
        <div class="cta-divider "></div>
        <div class="Button ">
          <a class="js--signup-modal-trigger" href="/auth/welcome">Start free course</a>
        </div>
      </div>
    </div>
  </section>
  <%= render 'footer' %>
