
        <div class="row" style="padding: 0;">
          <div class="col-6">
            <div class="card blue-grey darken-1" style="background: #bcd2f4;">
              <div class="card-content white-text">
                <span class="card-title">Programming Fundamentals</span>
                <ul>
                  <li> Duration: 5 weeks </li>
                  <li> Start Date: Feb. 1 </li>
                </ul>
                <p style="color: #332e56">  Learn to acquire, query, and present data using code.</p>
                <p style="color: #332e56"> In the final week, you'll demonstrate these skills with a solo project in a topic of your choosing.</p>
                <br>
                <ul style=";">
                  <li style=""> Tuition: $1200 </li>
                </ul>
              </div>
              <div class="card-action">
                <a href="/applications/new">Apply</a>
                <a href="https://calendly.com/jigsaw-labs/information-chat?month=2019-11"> Learn more, schedule a call</a>
              </div>
            </div>
          </div>
          <div class="col-6">
            <div class="card blue-grey darken-1">
              <div class="card-content white-text">
                <span class="card-title">Data Science Career Course</span>
                <ul>
                  <li> Duration: 6 months </li>
                  <li> Start Date: Feb. 1 </li>
                </ul>
                <p style="color: #332e56"> Learn the theory, master the skills, and build the portfolio. </p>
                <p style="color: #332e56"> After the course, we'll provide career services to help you begin your new profession.</p>
                <br>
                <ul>
                  <li style="text-align: center;"> Tuition: $6000</li>
                </ul>
              </div>
              <div class="card-action">
                <a href="/applications/new">Apply</a>
                <a href="https://calendly.com/jigsaw-labs/information-chat?month=2019-11"> Learn more, schedule a call</a>
              </div>
            </div>
          </div>
        </div>
