<tbody><tr>
<td>

<div style="display:block;max-width:670px;margin:0 auto">


<div class="m_-902010703712180215c6" style="border-bottom:1px solid #f9f9f9;border-radius:20px;margin-bottom:7px">
<div style="border-bottom:1px solid #f5f5f5;border-radius:19px">
<div style="border-right:1px solid #f5f5f5;border-bottom:1px solid #f2f2f2;border-radius:18px">
<div style="border-right:1px solid #f2f2f2;border-bottom:1px solid #f0f0f0;border-radius:17px">
<div style="border-right:1px solid #eee;border-bottom:1px solid #eee;border-radius:16px">

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<th style="text-align:left;font-weight:400;padding:15px;font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#333;display:block;background-color:#fff;border-radius:15px;border:1px solid #e6e6e6;border-collapse:collapse">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#000000">
September 02, 2020
</td>
<td align="right" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;text-align:right">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5LzIwMjAvMDkvMDI_ZW1haWw9amVmZnJleWVyaWNrYXR6QGdtYWlsLmNvbQ/5f4ebce5487de758ad202f74Be4fed1bc" style="color:#000000;text-decoration:none" rel="noopener" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5LzIwMjAvMDkvMDI_ZW1haWw9amVmZnJleWVyaWNrYXR6QGdtYWlsLmNvbQ/5f4ebce5487de758ad202f74Be4fed1bc&amp;source=gmail&amp;ust=1599150738619000&amp;usg=AFQjCNFo0m6zcZrqak-azuWZ-YdP9_qKGA">
View Online
</a> |
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5Lz9raWQ9ZWYwYTI5MTYmdXRtX3NvdXJjZT1lbWFpbF9zaGFyZV9oZWFkZXI/5f4ebce5487de758ad202f74B7b6d402e" style="color:#000000;text-decoration:none" rel="noopener" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5Lz9raWQ9ZWYwYTI5MTYmdXRtX3NvdXJjZT1lbWFpbF9zaGFyZV9oZWFkZXI/5f4ebce5487de758ad202f74B7b6d402e&amp;source=gmail&amp;ust=1599150738619000&amp;usg=AFQjCNHu2mLdkhA8_szd8gYFNSGZTfVpeQ">Sign Up
</a>
</td>
</tr>
</tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td align="center" style="padding-top:25px">
<p style="line-height:22px;margin-top:0;margin-bottom:15px;margin-bottom:18px">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5L3N0b3JpZXMv/5f4ebce5487de758ad202f74Bc9ab9db1" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5L3N0b3JpZXMv/5f4ebce5487de758ad202f74Bc9ab9db1&amp;source=gmail&amp;ust=1599150738619000&amp;usg=AFQjCNH3q7cZ-XXQ-IG9gDbcuQQaxEBvxw">
<img style="display:block;width:100%;max-width:450px;margin:0 auto" width="450" alt="Daily Brew" src="https://ci6.googleusercontent.com/proxy/YdSZromYtAvfxv8irfDQAWZWoId28HphOCy7Faf5F0-CxtNVcHCTakl1pvdZEkE-VsJEy-ShFAtNzlyzksvgDTHnRF5GELsf0iy7=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/2/5e86546217fa0.jpg" class="CToWUd">
</a>
</p>
</td>
</tr>
</tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;margin:0 auto;table-layout:auto;border-collapse:collapse;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;table-layout:auto">
<tbody><tr>
<th align="right" class="m_-902010703712180215clear" style="text-align:left;font-weight:400;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#252525;padding-right:8px;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#494949;padding-right:8px" valign="middle">
<p style="line-height:22px;margin-top:0;margin-bottom:15px;font-weight:bold;color:#000000;margin-top:15px;margin-bottom:15px;line-height:22px">
SPONSORED BY
</p>
</th>
<th class="m_-902010703712180215clear" style="text-align:left;font-weight:400">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly9hZC5kb3VibGVjbGljay5uZXQvZGRtL3RyYWNrY2xrL044NDAwMS4zNDA3ODcwTU9STklOR0JSRVcvQjI0MzM0ODAyLjI3NjA1NDkzMTtkY190cmtfYWlkPTQ3NDc1MTE5NDtkY190cmtfY2lkPTEzNjc5ODE4MztkY19sYXQ9O2RjX3JkaWQ9O3RhZ19mb3JfY2hpbGRfZGlyZWN0ZWRfdHJlYXRtZW50PTt0ZnVhPTtnZHByPSUyNDtnZHByX2NvbnNlbnQ9JTI0/5f4ebce5487de758ad202f74Bd7f1c5a9" style="border-bottom:none!important" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly9hZC5kb3VibGVjbGljay5uZXQvZGRtL3RyYWNrY2xrL044NDAwMS4zNDA3ODcwTU9STklOR0JSRVcvQjI0MzM0ODAyLjI3NjA1NDkzMTtkY190cmtfYWlkPTQ3NDc1MTE5NDtkY190cmtfY2lkPTEzNjc5ODE4MztkY19sYXQ9O2RjX3JkaWQ9O3RhZ19mb3JfY2hpbGRfZGlyZWN0ZWRfdHJlYXRtZW50PTt0ZnVhPTtnZHByPSUyNDtnZHByX2NvbnNlbnQ9JTI0/5f4ebce5487de758ad202f74Bd7f1c5a9&amp;source=gmail&amp;ust=1599150738619000&amp;usg=AFQjCNEJ7gkOTbZnLPNIuL-XREovAYF3YA"><img alt="E*TRADE " style="width:100%;max-width:149px;display:inline;vertical-align:middle" width="149" src="https://ci6.googleusercontent.com/proxy/dF_c1MSkFbWJaRRibLP_hHQydEERoQ95G_I_PbyQkdbuR81MfJGKSBwlxG1F71mRE6jO54aBj-777jfwB48O8FwpFWAWHbOdOdGCYNHimDLcC_xTLylHjkGXX3IaAR86UDZ0xx_l-T9F6rAk619HA6a3Fx8C6hGvsYf3_R0vVuOV3hBYSC2n-IUYUm9DKzNupASUf9f0Fub6ux8cK68UobXkhfqXE_RwbVf7a88vyTByOq6OpG2C1gOH6khdftMPccOPvpth-_VgJ2hQZJG8OfoaVAQdN4LEBIO54RuNf5_YruncbHwkclkrMjwJJd7xGYw5acbLCVpW=s0-d-e1-ft#https://dlp31coh2a67q.cloudfront.net/eyJrZXkiOiJ1cGxvYWRzL2NvbXBhbnkvbG9nby8xNDYvMTU4MjE1MTgyMC1FVFJBREVfTG9nb19yZ2IucG5nIiwiYnVja2V0IjoiY29tZXQtbW9ybmluZ2JyZXciLCJlZGl0cyI6eyJyZXNpemUiOnsid2lkdGgiOjEwMDAsImhlaWdodCI6bnVsbH19fQ==" class="CToWUd"></a>
</th>
</tr>
</tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td style="padding-top:20px">
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><strong style="color:#000">Good <span class="il">morning</span>. </strong>Listen, we did a lot of research trying to find something interesting to say about September 2, but to be honest...this may be the most unremarkable day on the calendar. Somebody should do something really awesome today so we have the first anniversary to look forward to next year.&nbsp;</p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px">One thing we can all agree is very awesome...sharing the <span class="il">Brew</span> with your less-informed friends so you can earn free swag. <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5L3JlZmVyLWEtZnJpZW5kP2FjY2Vzc190b2tlbj1CbjVVOG1GMVppcmI5WHFYd0p6MlRrSFg/5f4ebce5487de758ad202f74Bfe1d7040" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5L3JlZmVyLWEtZnJpZW5kP2FjY2Vzc190b2tlbj1CbjVVOG1GMVppcmI5WHFYd0p6MlRrSFg/5f4ebce5487de758ad202f74Bfe1d7040&amp;source=gmail&amp;ust=1599150738619000&amp;usg=AFQjCNG1dM7wNOBfUtBhzT7-ZwDljR9ppQ">Get started here</a>.&nbsp;</p>
</td>
</tr>
</tbody></table>
</th>
</tr>
</tbody></table>

</div>
</div>
</div>
</div>
</div>




<div>
<div class="m_-902010703712180215c6" style="border-bottom:1px solid #f9f9f9;border-radius:20px;margin-bottom:7px">
<div style="border-bottom:1px solid #f5f5f5;border-radius:19px">
<div style="border-right:1px solid #f5f5f5;border-bottom:1px solid #f2f2f2;border-radius:18px">
<div style="border-right:1px solid #f2f2f2;border-bottom:1px solid #f0f0f0;border-radius:17px">
<div style="border-right:1px solid #eee;border-bottom:1px solid #eee;border-radius:16px">




<table width="100%" bgcolor="#2876f2" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td align="center" style="text-align:center;padding:15px">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL01vcm5pbmdCcmV3Lw/5f4ebce5487de758ad202f74B3c67d3de" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cuZmFjZWJvb2suY29tL01vcm5pbmdCcmV3Lw/5f4ebce5487de758ad202f74B3c67d3de&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNHDMtoyShLLxWUbmVoPAvGqPACW9g">
<img alt="" style="display:inline-block;height:22px;margin:0 auto" height="22" src="https://ci3.googleusercontent.com/proxy/IuvjqNK_9UFljoC8ZlRlm4AoVynUkbQ_dzJvcwQh_OXAiixQEnqLLkUz9Ac0QpySTdDRsVazQqtB2jf_FVYv7hRWZkNcNKTijLGb=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/2/5e8656a926ade.jpg" class="CToWUd">
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly90d2l0dGVyLmNvbS9Nb3JuaW5nQnJldw/5f4ebce5487de758ad202f74B1e6871ab" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly90d2l0dGVyLmNvbS9Nb3JuaW5nQnJldw/5f4ebce5487de758ad202f74B1e6871ab&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNHyMSuF4oEza5pokBikSdHY2htj7w">
<img alt="" style="display:inline-block;height:20px;margin:0 auto" height="20" src="https://ci5.googleusercontent.com/proxy/Wa4-uKf7VOSXRM6pWLezO3ndRrTGYCMcB88ZI-uIvMjlok8rk_wZnQacvFtfQLMmNJ0LzF4unyLTpw7o15OQorzhbQ-WYxbWC6f2=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/2/5e8656c57be7c.jpg" class="CToWUd">
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS9tb3JuaW5nYnJldy8/5f4ebce5487de758ad202f74Ba9035142" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cuaW5zdGFncmFtLmNvbS9tb3JuaW5nYnJldy8/5f4ebce5487de758ad202f74Ba9035142&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNHD0I__bl9xIpGVOqPRToCCWGiO7w">
<img alt="" style="display:inline-block;height:22px;margin:0 auto" height="22" src="https://ci5.googleusercontent.com/proxy/sdrt2u7qimYuuAHvTqHjUEDzY99cMY0YdY2CAiZ1FR4cUO1ZVAhjLDPoD76GSlLCq2hYMysXGHewBlEBd6O3xgNMgQTjSsi_Z4XL=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/2/5e8656e7447ac.jpg" class="CToWUd">
</a>
&nbsp;&nbsp;&nbsp;&nbsp;
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2NvbXBhbnkvOTQ1NTk3OC8/5f4ebce5487de758ad202f74Bff0f3e05" rel="noopener" style="text-decoration:none" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubGlua2VkaW4uY29tL2NvbXBhbnkvOTQ1NTk3OC8/5f4ebce5487de758ad202f74Bff0f3e05&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNF9TMvwvQ0D2t0D3o2lbcA0fyhChA">
<img alt="" style="display:inline-block;height:22px;margin:0 auto" height="22" src="https://ci5.googleusercontent.com/proxy/3zwjt4EgvfmdVJxfR4bCfFfZJqA7dSUNVR4R88rBdP7H9bhlI_tdxKy9EUynUak0VGOcYKGO9aHfls_DZnI8l17196xTcCiFcAVH=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/2/5e865706b232e.jpg" class="CToWUd">
</a>
</td>
</tr>
</tbody></table>


<table width="100%" bgcolor="#E9EBF7" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td align="left" style="font-family:Arial,Helvetica,sans-serif;font-size:15px;text-align:left;border-bottom:1px solid #c0c3cc;padding:15px">
<p style="line-height:22px;margin-top:0;margin-bottom:15px">Written by
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cudHdpdHRlci5jb20vTmVhbF9GcmV5bWFu/5f4ebce5487de758ad202f74B97062509" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333;border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333333" rel="noopener" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cudHdpdHRlci5jb20vTmVhbF9GcmV5bWFu/5f4ebce5487de758ad202f74B97062509&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNF799OWdtYx4YSGXiZ_9aEEnPESOg">Neal Freyman</a> and <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cudHdpdHRlci5jb20vRWxpemFDYXJ0ZXIzNA/5f4ebce5487de758ad202f74Bb66c7300" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333;border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333333" rel="noopener" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cudHdpdHRlci5jb20vRWxpemFDYXJ0ZXIzNA/5f4ebce5487de758ad202f74Bb66c7300&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNG_RfSBVwbjuJ7xZts_ibPkRlcE3g">Eliza Carter</a>
</p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px">Was this email forwarded to you? Sign up <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5Lz9raWQ9ZWYwYTI5MTYmdXRtX3NvdXJjZT1uZXdzbGV0dGVyX2Zvb3Rlcl9mb3J3YXJkZWQ/5f4ebce5487de758ad202f74B9e3bb85b" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5Lz9raWQ9ZWYwYTI5MTYmdXRtX3NvdXJjZT1uZXdzbGV0dGVyX2Zvb3Rlcl9mb3J3YXJkZWQ/5f4ebce5487de758ad202f74B9e3bb85b&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNHXyq4SiXWuB1L3bT09Ll_6Kwte2A">here</a>.</p>
<div>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><strong style="color:#000">WANT MORE <span class="il">BREW</span>?</strong></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px" width="20" src="https://ci6.googleusercontent.com/proxy/mqUzrlGv19R8mGovOuBQwYSPa6wq7XTL3dOgr5rhwEwyMFVxoSB1dyYa5nGvHQUHG-NpZkPbbUEWOKlgtHfyh4U4_zmWDMqI5q5x=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/l/5e9f2d22dac42.jpg" class="CToWUd"> &nbsp; Retail newsletter → <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL3JldGFpbC8_dXRtX3NvdXJjZT1uZXdzbGV0dGVyJnV0bV9tZWRpdW09Zm9vdGVyJmVtYWlsPWplZmZyZXllcmlja2F0ekBnbWFpbC5jb20mdXRtX2NhbXBhaWduPWRhaWx5/5f4ebce5487de758ad202f74B95ec2e5f" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL3JldGFpbC8_dXRtX3NvdXJjZT1uZXdzbGV0dGVyJnV0bV9tZWRpdW09Zm9vdGVyJmVtYWlsPWplZmZyZXllcmlja2F0ekBnbWFpbC5jb20mdXRtX2NhbXBhaWduPWRhaWx5/5f4ebce5487de758ad202f74B95ec2e5f&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNEPN6VNpfHhxYWfJyu07yzgY9mmTQ">Retail <span class="il">Brew</span></a></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px" width="20" src="https://ci5.googleusercontent.com/proxy/4EuwzH0C4K3Zgs4QrB05wh5W2xiDi_2-djY8h70jzbAQ_dKHpDTqJHalr4rsoBZoC2kpuifEsmeYkro_Oqc3-xPUonOwGvnP00S-=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/l/5e9f2d4283820.jpg" class="CToWUd"> &nbsp; Tech newsletter → <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2VtZXJnaW5nLXRlY2gvP3V0bV9zb3VyY2U9bmV3c2xldHRlciZ1dG1fbWVkaXVtPWZvb3RlciZlbWFpbD1qZWZmcmV5ZXJpY2thdHpAZ21haWwuY29tJnV0bV9jYW1wYWlnbj1kYWlseQ/5f4ebce5487de758ad202f74B56b1f1b5" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2VtZXJnaW5nLXRlY2gvP3V0bV9zb3VyY2U9bmV3c2xldHRlciZ1dG1fbWVkaXVtPWZvb3RlciZlbWFpbD1qZWZmcmV5ZXJpY2thdHpAZ21haWwuY29tJnV0bV9jYW1wYWlnbj1kYWlseQ/5f4ebce5487de758ad202f74B56b1f1b5&amp;source=gmail&amp;ust=1599150738627000&amp;usg=AFQjCNGLgneTm1IT9VhLqirBXnFGICP66w">Emerging Tech <span class="il">Brew</span></a></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px" width="20" src="https://ci5.googleusercontent.com/proxy/NOErit2L0DyNZjYlV4JmAu8Ax0es1XvMTOo0zXJkW2pa0lYkVl04W-bvHQ9Ymfxbdu0jrcdJwTFjWbB8CtoDzJjtw1LeWg1ZaBx5Fypo_irjepWWqTQLELFXO9_eMUTW7FYDdba0agcieGqEEy0=s0-d-e1-ft#https://sailthru-media.s3.amazonaws.com/composer/images/sailthru-prod-5z8/marketingbrew.png" class="CToWUd"> &nbsp; Marketing newsletter → <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL21hcmtldGluZy8_dXRtX3NvdXJjZT1uZXdzbGV0dGVyJnV0bV9tZWRpdW09Zm9vdGVyJmVtYWlsPWplZmZyZXllcmlja2F0ekBnbWFpbC5jb20mdXRtX2NhbXBhaWduPWRhaWx5/5f4ebce5487de758ad202f74B08b8e6c6" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL21hcmtldGluZy8_dXRtX3NvdXJjZT1uZXdzbGV0dGVyJnV0bV9tZWRpdW09Zm9vdGVyJmVtYWlsPWplZmZyZXllcmlja2F0ekBnbWFpbC5jb20mdXRtX2NhbXBhaWduPWRhaWx5/5f4ebce5487de758ad202f74B08b8e6c6&amp;source=gmail&amp;ust=1599150738628000&amp;usg=AFQjCNEakfHJ8EbEIKHiWtyfDIkq3whoMA">Marketing <span class="il">Brew</span></a></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px" width="20" src="https://ci5.googleusercontent.com/proxy/cB5DNt3Q2VdaCZmCPK97cn9nz_42Z4v0OYp1ubzd537EPE2RK7ZUX4YmY3uo4LFCSXOEjQTSENG70o0EqWBJATdEJGM-p6m5SDFcBR9lXVvbbf2EcvDoCBoBrjQOtTRguPALF2Hi=s0-d-e1-ft#https://sailthru-media.s3.amazonaws.com/composer/images/sailthru-prod-5z8/house.png" class="CToWUd"> &nbsp; Quarantine newsletter → <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL3RoZS1lc3NlbnRpYWxzLz91dG1fc291cmNlPW5ld3NsZXR0ZXImdXRtX21lZGl1bT1mb290ZXImZW1haWw9amVmZnJleWVyaWNrYXR6QGdtYWlsLmNvbSZ1dG1fY2FtcGFpZ249ZGFpbHk/5f4ebce5487de758ad202f74B682506b2" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL3RoZS1lc3NlbnRpYWxzLz91dG1fc291cmNlPW5ld3NsZXR0ZXImdXRtX21lZGl1bT1mb290ZXImZW1haWw9amVmZnJleWVyaWNrYXR6QGdtYWlsLmNvbSZ1dG1fY2FtcGFpZ249ZGFpbHk/5f4ebce5487de758ad202f74B682506b2&amp;source=gmail&amp;ust=1599150738628000&amp;usg=AFQjCNEN1XI1oVUtvVexsdsX2TI6IcjxsA">The Essentials</a></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px" width="20" src="https://ci4.googleusercontent.com/proxy/vKF65NxmdLH3BP5Elc8oPFiBI-mQd_G1JDNpR89_5YfK8lX6DeOp1FmOC9wKmIO-leQB8nzXCrL4X3atGcCIRCW30QR8Ut7mYdPW=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/l/5e9f2d5b4aef3.jpg" class="CToWUd"> &nbsp; Business podcast → <a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2J1c2luZXNzLWNhc3VhbC1wb2RjYXN0/5f4ebce5487de758ad202f74B92f4e8f7" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2J1c2luZXNzLWNhc3VhbC1wb2RjYXN0/5f4ebce5487de758ad202f74B92f4e8f7&amp;source=gmail&amp;ust=1599150738628000&amp;usg=AFQjCNHqx0mt7d-w4T1js4XJrzi11KbQ7g">Business Casual</a></p>
</div>
</td>
</tr>
<tr>
<td align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#79787d;padding:15px">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly9kb2NzLmdvb2dsZS5jb20vZm9ybXMvZC9lLzFGQUlwUUxTY0M5OVdXU3VqRU53MFY4WFdNNWFHSHVOM1FxMm9DdndqaWhhRlJVWUpKTUdWbVFBL3ZpZXdmb3Jt/5f4ebce5487de758ad202f74Bd80bfee9" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly9kb2NzLmdvb2dsZS5jb20vZm9ybXMvZC9lLzFGQUlwUUxTY0M5OVdXU3VqRU53MFY4WFdNNWFHSHVOM1FxMm9DdndqaWhhRlJVWUpKTUdWbVFBL3ZpZXdmb3Jt/5f4ebce5487de758ad202f74Bd80bfee9&amp;source=gmail&amp;ust=1599150738628000&amp;usg=AFQjCNHhZYKArDlUqwDa-gM93JDkUQeR0w"></a></td></tr></tbody></table></div></td></tr></tbody>
