<div class="bg">
  <%= render 'navbar' %>
  <div class="container h-100 letter-spaced">
    <div class="row h-50 justify-content-center">
      <div class="jumbotron px-10 text-white transparent-background">
        <h1 class="display-4 text-center">JIGSAW Labs</h1>
        <p class="lead text-center font-italic font-weight-bold">  Construct your next chapter.</p>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="row justify-content-center">
        <a class="btn btn-info btn-lg button_blue font-weight-bold" href="<%= about_path %>" role="button">Learn more</a>
      </div>
    </div>
  </div>
  <%= render 'footer' %>
