<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-warning p-4 row" id="scrollspy">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="index.html">
    <img src=" logo.png" width="30" height="30" class="d-inline-block align-top" alt="logo">
    Bootstrap 4 Demo Site</a>
  <ul class="nav nav-pills mr-auto ml-auto">
    <li class="nav-item"><a class="nav-link" href="#section1">Section 1</a></li>
    <li class="nav-item"><a class="nav-link" href="#section2">Section 2</a></li>
    <li class="nav-item"><a class="nav-link" href="#section3">Section 3</a></li>&nbsp;&nbsp;
  </ul>
  <!-- Start Search -->
  <form class="form-inline my-2 my-lg-0">
    <input class="form-control mr-sm-2" type="text" placeholder="Search">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
  </form>
  <!-- End Search -->
</nav>
<div class="row">
  <div data-spy="scroll" data-target="#scrollspy" data-offset="0" style="overflow-y: scroll; height: 800px; position:relative; scroll-behavior: smooth;">
    <section class="sec1">
      <h1 class="display-1" id="section1">Section 1</h1>
      <p>Here is a content for section 1.</p>
      <p>"Here is your content for section 1. Enter long content for covering 800px height”.</p></section>
    <section class="display-1"  class="sec2">
      <h1 id="section2">Section 2</h1>
      <p>Here is a content for section 2.</p>
      <p>"Here is your content for section 2. Enter long content for covering 800px height”.</p>
    </section>
    <section class="sec3">
      <h1 id="section3" class="display-1" >Section 3</h1>
      <p>Here is a content for section 3.</p>
      <p>"Here is your content for section 3. Enter long content for covering 800px height”.</p>
    </section>
  </div>
</div>
