<tbody><tr>
<td>

<div style="display:block;max-width:670px;margin:0 auto">


<div class="m_-902010703712180215c6" style="border-bottom:1px solid #f9f9f9;border-radius:20px;margin-bottom:7px">
<div style="border-bottom:1px solid #f5f5f5;border-radius:19px">
<div style="border-right:1px solid #f5f5f5;border-bottom:1px solid #f2f2f2;border-radius:18px">
<div style="border-right:1px solid #f2f2f2;border-bottom:1px solid #f0f0f0;border-radius:17px">
<div style="border-right:1px solid #eee;border-bottom:1px solid #eee;border-radius:16px">

<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<th style="text-align:left;font-weight:400;padding:15px;font-family:Helvetica,Arial,sans-serif;font-size:16px;color:#333;display:block;background-color:#fff;border-radius:15px;border:1px solid #e6e6e6;border-collapse:collapse">
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
</tr>
</tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td align="center" style="padding-top:25px">
<p style="line-height:22px;margin-top:0;margin-bottom:15px;margin-bottom:18px">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5L3N0b3JpZXMv/5f4ebce5487de758ad202f74Bc9ab9db1" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly93d3cubW9ybmluZ2JyZXcuY29tL2RhaWx5L3N0b3JpZXMv/5f4ebce5487de758ad202f74Bc9ab9db1&amp;source=gmail&amp;ust=1599150738619000&amp;usg=AFQjCNH3q7cZ-XXQ-IG9gDbcuQQaxEBvxw">
<img style="display:block;width:100%;max-width:450px;margin:0 auto" width="450" alt="Daily Brew" src="https://storage.cloud.google.com/jigsaw-website/jigsaw-labs-beeker-text-logo.jpg" class="CToWUd">
</a>
</p>
</td>
</tr>
</tbody></table>
<table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse;table-layout:fixed;margin:0 auto;table-layout:auto;border-collapse:collapse;margin-top:0;margin-bottom:0;margin-right:auto;margin-left:auto;table-layout:auto">
<tbody><tr>
<th align="right" class="m_-902010703712180215clear" style="text-align:left;font-weight:400;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#252525;padding-right:8px;font-family:Helvetica,Arial,sans-serif;font-size:13px;color:#494949;padding-right:8px" valign="middle">
<p style="line-height:22px;margin-top:0;margin-bottom:15px;font-weight:bold;color:#000000;margin-top:15px;margin-bottom:15px;line-height:22px">
NICE WORK.  NOW LEARN MORE.
</p>
</th>
</tr>
</tbody></table>
<table width="100%" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<tr style="padding-top:20px">
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><strong style="color:#000">Hi Jeff!</strong></p>
</tr>
<tr>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"> So, as you might expect, the <strong style="color:#000"> next step </strong> is for you to learn more about the program and for me to learn more about you. The best way to do this is with a friendly <strong style="color:#000">chat for about twenty-minutes.</strong>  &nbsp;</p> </td>
</tr>
<tr>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"> On the call, we'll talk about the course curriculum and how a typical class operates. We'll also talk about your interest in coding or data science and your desired outcome from the course. &nbsp;</p>
</tr>

<p style="line-height:22px;margin-top:0;margin-bottom:15px; text-align: center;"> <a href="https://calendly.com/jigsaw-labs/information-chat" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_" >Schedule the phone call here.</span></a></p>

<tr>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"> All the best, &nbsp;</p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"> Jeff &nbsp;</p>
</tr>

<tr>
<p style="line-height 22px; margin-top:0; margin-bottom:15px">P.S.  Don't worry!  On the call, I will not be assessing any technical skills.  If you're interesting in pursuing the data science career course, we'll talk through what you can expect in the technical interview for that course.  </tr>
<tr>
</tr>
</tbody></table>
</th>
</tr>
</tbody></table>

</div>
</div>
</div>
</div>
</div>




<div>
<div class="m_-902010703712180215c6" style="border-bottom:1px solid #f9f9f9;border-radius:20px;margin-bottom:7px">
<div style="border-bottom:1px solid #f5f5f5;border-radius:19px">
<div style="border-right:1px solid #f5f5f5;border-bottom:1px solid #f2f2f2;border-radius:18px">
<div style="border-right:1px solid #f2f2f2;border-bottom:1px solid #f0f0f0;border-radius:17px">
<div style="border-right:1px solid #eee;border-bottom:1px solid #eee;border-radius:16px">




<table width="100%" bgcolor="#2876f2" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td align="center" style="text-align:center;padding:15px">
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
&nbsp;&nbsp;&nbsp;&nbsp;
</td>
</tr>
</tbody></table>


<table width="100%" bgcolor="#E9EBF7" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse">
<tbody><tr>
<td align="left" style="font-family:Arial,Helvetica,sans-serif;font-size:15px;text-align:left;border-bottom:1px solid #c0c3cc;padding:15px">
<div>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><strong style="color:#000">Want to get a better feel for how we do things?</strong></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px; padding-right: 10px;" width="20" src="https://ci5.googleusercontent.com/proxy/4EuwzH0C4K3Zgs4QrB05wh5W2xiDi_2-djY8h70jzbAQ_dKHpDTqJHalr4rsoBZoC2kpuifEsmeYkro_Oqc3-xPUonOwGvnP00S-=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/l/5e9f2d4283820.jpg" class="CToWUd"> <a href="https://www.meetup.com/Data-Workshops/" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="">Free Online Workshops</span></a></p>
<p style="line-height:22px;margin-top:0;margin-bottom:15px"><img style="display:inline-block;width:20px; padding-right: 10px;" width="20" src="https://ci5.googleusercontent.com/proxy/4EuwzH0C4K3Zgs4QrB05wh5W2xiDi_2-djY8h70jzbAQ_dKHpDTqJHalr4rsoBZoC2kpuifEsmeYkro_Oqc3-xPUonOwGvnP00S-=s0-d-e1-ft#https://media.sailthru.com/5z8/1k4/4/l/5e9f2d4283820.jpg" class="CToWUd"> <a href="https://www.jigsawlabs.io/#free" rel="noopener" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="">Free Curriculum</span></a></p>
</div>
</td>
</tr>
<tr>
<td align="center" style="font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#79787d;padding:15px">
<a href="https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly9kb2NzLmdvb2dsZS5jb20vZm9ybXMvZC9lLzFGQUlwUUxTY0M5OVdXU3VqRU53MFY4WFdNNWFHSHVOM1FxMm9DdndqaWhhRlJVWUpKTUdWbVFBL3ZpZXdmb3Jt/5f4ebce5487de758ad202f74Bd80bfee9" style="border-bottom:2px solid #1c7ff2;text-decoration:none;color:#333" target="_blank" data-saferedirecturl="https://www.google.com/url?q=https://link.morningbrew.com/click/21384296.2030821/aHR0cHM6Ly9kb2NzLmdvb2dsZS5jb20vZm9ybXMvZC9lLzFGQUlwUUxTY0M5OVdXU3VqRU53MFY4WFdNNWFHSHVOM1FxMm9DdndqaWhhRlJVWUpKTUdWbVFBL3ZpZXdmb3Jt/5f4ebce5487de758ad202f74Bd80bfee9&amp;source=gmail&amp;ust=1599150738628000&amp;usg=AFQjCNHhZYKArDlUqwDa-gM93JDkUQeR0w"></a></td></tr></tbody></table></div></td></tr></tbody>
