  body, html {
    height: 100%;
  }

  body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,Sans-Serif;
  }

.bg {
  /* The image used */
  background-image: url("bg-class.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.font-small {
  font-size: 12px;
}

.letter-spaced {
  letter-spacing: 2px;
}

 .transparent-background {
      background-color:transparent !important;
      border-color:transparent;
      background-image:none;
      box-shadow:none;
 }

.no-text-decoration {
  text-decoration: none;
}



