  body, html {
    height: 100%;
  }

  body {
    font-family: Roboto,Helvetica Neue,Helvetica,Arial,Sans-Serif;
  }

  h1 {
    font-size: 3.4vw;
  }


  .lead {
    font-size: calc(10px + 2vw);
  }

.font-medium {
    font-size: calc(10px + .6vw);

  }

.font-large {
  font-size: calc(10px + 2.3vw);
}

.font-small {
  font-size: .85vw;
}

.letter-spaced {
  letter-spacing: 2px;
}

@media screen and (min-width: 575px){
  .extra-large {
    width: 135%;
  }
}


.bg {
  /* The image used */
  background-image: url("bg-class.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.neg-margin {
  margin-top: -55px;
}

.bg-shrunk {
  /* The image used */
  background-image: url("bg-class.jpg");

  /* Full height */
  height: 620px;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


.bg-light-blue {
  background-color: #0080d9;
}

.bg-light-blue:hover {
  background-color: #0090d9;
}


 .transparent-background {
      background-color:transparent !important;
      border-color:transparent;
      background-image:none;
      box-shadow:none;
 }

.no-text-decoration {
  text-decoration: none;
}

#syllabus .list-group {
  flex-direction: row;
}

#syllabus .list-group-item {
  border: none;
}


#syllabus a {
  text-decoration: none;
}


#syllabus .list-group-item.active {
  background-color: transparent;
  color: #5189B4;
}

#syllabus .list-group-item:hover {
  background-color: transparent;
  color: #00b3e6;
}

a[data-toggle="collapse"] {
  @extend .text-muted;
}


.progress-bar.active {
  background-color: #007bff;
}


.progress-bar.first {
  background-color: #e9ecef;
}



