  body, html {
    height: 100%;
  }
.bg {
  /* The image used */
  background-image: url("bg-class.jpg");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

 .transparent-background {
      background-color:transparent !important;
      border-color:transparent;
      background-image:none;
      box-shadow:none;
 }


