<div class="container" style="margin: 0px;">
    
      <nav class="Nav__wrapper--opaque navbar-fixed-top navbar navbar-expand-lg" style="position: fixed">
      
        <%= link_to root_path, class: 'Nav__logo col-1' do %>
          <%= image_tag('general/jigsaw-text.svg', class: "svg-color") %>
        <% end %>
        </a>
        <div class="col-11">
          <ul class="Nav__links" style="">
            <li class="Nav__item">
              <%= link_to 'Free Curriculum', "/free", class: 'Nav__link Nav__log' %>
            </li>
          </ul>
        </div>
      </nav>
    
  </div>

